# Database Configuration
NEXT_PUBLIC_MONGODB_URI=your_mongodb_connection_string
DB_NAME=your_database_name

# AWS SES Configuration
AWS_REGION=your_aws_region (e.g., ap-south-1)
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

# NextAuth Configuration
NEXTAUTH_SECRET=your_nextauth_secret (generate using: openssl rand -base64 32)
NEXTAUTH_URL=http://localhost:3000